<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/index-js.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <input type="file" style="display:none" id="upload-image"/>
    <div id="select-image" class="drop-area">
      Select Cat Photo
      <div id="thumbnail"></div>
    </div>
    <div id="upload-button" class="upload-area">
      Upload Cat Photo
    </div>
  </body>
</html>
