<!DOCTYPE html>
<html>
  <head>
    <title>Not a cat!</title>
  </head>
  <body>
    <h1>Only cat photos please!</h1>
    <p>Our intelligent CDN rejected your request as it detected a non-cat picture upload attempt.</p>
  </body>
</html>
